
__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/
ENV/
env.bak/
env.old/


build/



pytestdebug.log


.env

config.json


*.db
*.sqlite3
*.sqlite


.idea/
*.sublime-project
*.sublime-workspace

